body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f4157; 
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px; 
}

.logo-image {
    width: 80%; 
    max-width: 400px; 
    height: auto;
    margin-bottom: 30px;
}

.login-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #c7d9e5; 
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-button {
    width: 100%;
    max-width: 300px; 
    padding: 10px;
    background-color: #577c8e; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px; 
}

.login-button:hover {
    background-color: #6c94c4;
}
